/* Estilos para el contenedor del formulario */
.note-form-update {
    display: flex;
    flex-direction: column; /* Alinea los grupos de campos verticalmente */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacio entre los grupos de etiquetas y campos */
    width: 100%; /* Asegúrate de que el contenedor ocupe el ancho completo */
    max-width: 500px; /* Limita el ancho máximo si es necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la pantalla */
    height: auto; /* Permite que la altura se ajuste al contenido */
  }
  
  /* Estilos para los grupos de etiqueta y campo */
  .form-group {
    display: flex;
    flex-direction: row; /* Alinea la etiqueta y el campo en una fila */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    gap: 10px; /* Espacio entre etiqueta y campo */
    width: 100%; /* Asegúrate de que el grupo ocupe el ancho completo */
  }
  
  /* Estilos para las etiquetas de los campos */
  .note-form-update label {
    font-size: 20px;
    color: #009087;
    text-align: left; /* Alinea el texto de la etiqueta a la izquierda */
    font-weight: bold;
    min-width: 100%;
  }
  
  /* Estilo para el asterisco que indica un campo obligatorio */
  .required {
    color: #009087; /* Cambia el color del asterisco según tu diseño */
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada */
  .note-input {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    min-width: 100%; /* Limita el ancho del campo de entrada */
  }
  
  .note-textarea {
    height: 150px; /* Altura del textarea */
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-width: 100%;
  }
  
  /* Estilos para el contenedor de los botones */
  .buttons-container {
    display: flex;
    flex-direction: row; /* Alinea los botones en una fila */
    gap: 50px; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 20px;
  }

.edit-fields{
    display: flex;
  flex-direction: column; /* Alinea los grupos de campos verticalmente */
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 10px; /* Espacio entre los grupos de etiquetas y campos */
  max-width: 500px; /* Limita el ancho máximo si es necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente en la pantalla */
  height: auto; /* Permite que la altura se ajuste al contenido */
}